<div id="risk_analysis_page" class="page page-table contention" data-ng-controller="RiskAnalysisCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong></span> Analise de Risco - {{client.name}}</strong></div>
        <div class="panel-body">
            <div>
                <form class="form-horizontal ng-pristine ng-valid">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" ng-model="selected.name" typeahead="client.name for client in clients | filter:$viewValue | limitTo:8" class="form-control" placeholder="Informe o Cliente/Agência e clique em próximo para analisar">
                        </div>
                        <div class="col-sm-2 text-right">
                            <button type="button" ng-click="setSelected();" class="btn btn-line-info">Verificar</button>
                        </div>
                        <div class="col-sm-2 text-right" ng-show="showReport">
                            <button type="button" ng-click="exportAnalysis();" class="btn btn-line-info">Relatorio</button>
                        </div>
                        <div class="col-sm-2" data-ng-controller="RiskAnalisysContactModalCtrl" ng-show="showReport">
                          <script type="text/ng-template" id="RiskAnalisysContactModalCtrl.html">
                              <div class="modal-header">
                                  <h3>Contato</h3>
                              </div>
                              <div class="modal-body">
                                  <form class="form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3">Email</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="contacts.client.email" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3">Telefone 1</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="contacts.client.phoneNumber" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3">Telefone 2</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="contacts.client.phoneNumber2" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3">Telefone 3</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" ng-model="contacts.client.phoneNumber3" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group"></div>
                                    <div class="form-group"></div>
                                    <div ng-repeat="partner in contacts.partners">
                                        <div class="form-group">
                                            <label for="" class="col-sm-3">Socio</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="partner.name" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3">Email</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="partner.email" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3">Telefone 1</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="partner.phoneNumber" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3">Telefone 2</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="partner.phoneNumber2" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3">Telefone 3</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="partner.phoneNumber3" readonly>
                                            </div>
                                        </div>
                                    </div>
                                  </form>
                              </div>
                              <div class="modal-footer">
                                  <button class="btn btn-primary" ng-click="ok()">OK</button>
                                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                              </div>
                          </script>
                          <button class="btn btn-default" ng-click="open()">Contato</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section ng-show="tabindex">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Boletos gerados</strong></div>
              <div class="panel-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Data Emissão</th>
                              <th>Status</th>
                              <th>Vencimento</th>
                              <th>Valor Atual</th>
                              <th>Pago</th>
                              <th>Nosso Numero</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr data-ng-repeat="Billet in Billets" ng-show="Billet.actual_value > 0 && Billet.status == 'E' ">
                              <td>{{Billet.IssueDate | date:'dd/MM/yyyy'}}</td>
                              <td>{{getStatusDesc(Billet.status)}}</td>
                              <td>{{Billet.due_date | date:'dd/MM/yyyy'}}</td>
                              <td class="text-right">{{formatNumber(Billet.actual_value)}}</td>
                              <td class="text-right">{{formatNumber(Billet.alreadyPaid)}}</td>
                              <td>{{Billet.ourNumber}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>

        <div class="col-lg-6 col-xsm-6">
            <div class="panel mini-box">
                <div class="box-info">
                    <p class="size-h3">Vencidos: R${{formatNumber(getDueValue())}}</p>
                    <p class="text-muted"><span>Em {{count}} boletos</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xsm-6">
            <div class="panel mini-box">
                <div class="box-info">
                    <p class="size-h3">Boletos a Vencer: R${{formatNumber(alreadyGenerated())}}</p>
                    <p class="text-muted"><span>Em {{count2}} boletos</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xsm-6">
          <div class="panel mini-box">
          </div>
        </div>
        <div class="col-lg-6 col-xsm-6"></div>

        <div class="col-lg-6 col-xsm-6">
            <div class="panel mini-box">
                <div class="box-info">
                    <p class="size-h3">Balanço: R$ {{formatNumber((getDueValue() + alreadyGenerated()) - cancelCost())}}</p>
                    <p class="size-h2 text-muted"><span class="{{getClass()}}">STATUS: {{getStatus()}}</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xsm-6">
            <div class="panel mini-box">
                <div class="box-info">
                    <p class="size-h3">Bilhetes Futuros: R${{formatNumber(getTotal())}}</p>
                    <p class="text-muted"><span>Em {{Sales.length}} Bilhetes</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xsm-6">
            <div class="panel mini-box">
                <div class="box-info">
                    <p class="size-h3">Cancelamento: R${{formatNumber(getTotalCancelCost())}}</p>
                    <p class="text-muted"><span>Em {{Sales.length}} Bilhetes</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Bilhetes futuros</strong></div>
              <div class="panel-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th></th>
                              <th>Data Emissão</th>
                              <th>Cliente</th>
                              <th>CIA</th>
                              <th>PAX</th>
                              <th>Embarque</th>
                              <th>Trecho</th>
                              <th>Voo</th>
                              <th>Localizador</th>
                              <th>Pago</th>
                              <th>Custo</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr data-ng-repeat="Sale in Sales">
                              <td><input ng-model="Sale.checked" type="checkbox"></td>
                              <td>{{Sale.issueDate | date:'dd/MM/yyyy'}}</td>
                              <td>{{Sale.client}}</td>
                              <td>{{Sale.airline}}</td>
                              <td>{{Sale.paxName}}</td>
                              <td>{{Sale.boardingDate | date:'dd/MM/yyyy'}}</td>
                              <td>{{Sale.from}}-{{Sale.to}}</td>
                              <td>{{Sale.flight}}</td>
                              <td>{{Sale.flightLocator}}</td>
                              <td>{{formatNumber(Sale.amountPaid)}}</td>
                              <td>{{formatNumber(Sale.cancelCost)}}</td>
                          </tr>
                          <tr>
                              <td></td>
                              <td>Quantidade</td>
                              <td>{{Sales.length}}</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{formatNumber(getTotal())}}</td>
                              <td>{{formatNumber(getTotalCancelCost())}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>

      </div>
    </section>
</div>
