<div class="page page contention" data-ng-controller="WizardBilletCtrl">

    <section class="panel panel-default" ng-show="tabindex == 0">
        <div class="panel-heading"><strong>Novo Boleto</strong>
          <div class="col-sm-2" data-ng-controller="TodayFinancialEmailsModalCtrl">
              <script type="text/ng-template" id="TodayFinancialEmailsModalCtrl.html">
                  <div class="modal-header">
                      <h3>Emails de Hoje</h3>
                  </div>
                  <div class="modal-body">
                      <form class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group" ng-repeat="email in emails">
                            <label for="" class="col-sm-4">{{findDate(email.issue_date) | date:'dd/MM/yyyy HH:mm:ss'}}</label>
                            <label for="" class="col-sm-8">{{email.description}}</label>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4">Total: {{total}}</label>
                        </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                  </div>
              </script>
              <button class="btn btn-info smallBtn" ng-click="open()">Emails</button>
          </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <progressbar class="progressbar-xs progress-striped" value="WizardStageProgress();" type="info"></progressbar>
            </div>
            <div>
                <form class="form-horizontal ng-pristine ng-valid" name='wbillet_client'>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Cliente</label>
                        <div class="col-sm-10">
                            <input type="text" id='wbilletclient' ng-model="filter.clientName" typeahead="client.name for client in clients | filter:$viewValue | limitTo:8" required class="form-control" placeholder="Pesquisar">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <a type="button" href="#/billsReceive/billet" class="btn btn-line-warning">Anterior</a>
                        </div>
                        <div class="col-sm-4 text-center">
                            <a type="button" data-ng-click="imprimeTudo();" data-ng-disabled="ocultar_bloqueados_disabled" class="btn btn-line-info">Imprimir Todos</a>
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" ng-click="loadBills();" ng-hide="tabindex == 2" class="btn btn-line-info">Proximo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="col-sm-6">
        <section class="panel panel-default" ng-show="tabindex == 0">
            <div class="panel-heading">
                <div class="row"> 
                    <div class="col-sm-12" style="margin-bottom: 5px;">
                        <strong>Clientes com boleto em aberto</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="number" class="form-control" placeholder="Dias ant." data-ng-blur="onDaysBlur()" data-ng-keyup="onDaysEnterKey($event.keyCode)" ng-model="days">
                        <!-- <button type="button" class="btn btn-line-info smallBtn" style="width: 100%;" ng-click="findYesterday()" ng-disabled="botoes_processando">Ontem</button> -->
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-line-info smallBtn" style="width: 100%;" ng-click="findBilhetes()" ng-disabled="botoes_processando">Todos - Bilhete</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-line-info smallBtn" style="width: 100%;" ng-click="findOutros()" ng-disabled="botoes_processando">Todos - Outros</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-line-info smallBtn" style="width: 100%;" ng-click="findTodos()" ng-disabled="botoes_processando">Todos</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-6">
                        <div class="form-check">
                            <input  class="form-check-input"
                                    type="checkbox" 
                                    value="" 
                                    id="ocultar_bloqueados"
                                    data-ng-model="ocultar_bloqueados"
                                    data-ng-disabled="ocultar_bloqueados_disabled"
                                    data-ng-click="filtra_clientsToReceive()">
                            <label class="form-check-label" for="ocultar_bloqueados">
                                Ocultar Somente Reembolso
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top: 7px;">
                        Total: {{clientsToReceive? clientsToReceive.length: '0'}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel-body col-sm-12">
                    <table class="table table-bordered table-responsive" name="table_client">
                    <thead>
                        <tr>
                            <th><div class="th">
                                Nome
                                <span class="fa fa-angle-up"
                                        data-ng-click=" order('name') "
                                        data-ng-class="{active: row == 'name'}"></span>
                                <span class="fa fa-angle-down"
                                        data-ng-click=" order('-name') "
                                        data-ng-class="{active: row == '-name'}"></span>
                            </div></th>
                            <th><div class="th">
                                Período
                                <span class="fa fa-angle-up"
                                        data-ng-click=" order('billingPeriod') "
                                        data-ng-class="{active: row == 'billingPeriod'}"></span>
                                <span class="fa fa-angle-down"
                                        data-ng-click=" order('-billingPeriod') "
                                        data-ng-class="{active: row == '-billingPeriod'}"></span>
                            </div></th>
                            <th><div class="th">
                                Tipo
                            </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="client in clientsToReceive | filter: filterList" 
                            bgcolor="{{ ( client.name.indexOf('MMS - ') > -1 || client.origin == 'MMS' ) ? '#F38E8E' : 
                            ( client.acessado_hoje ) ? '#90ee90' :
                            ( client.somente_reembolso ) ? '#E2E298' : '' }}" 
                            ng-click="setClient();">
                            <td>{{client.name}}</td>
                            <td>{{client.billingPeriod}}</td>
                            <td>{{client.tipo_cliente}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
      </section>
    </div>

    <div class="col-sm-6">
        <section class="panel panel-default" ng-show="tabindex == 0">
            <div class="panel-heading"><strong>Clientes <b>Antecipados</b> com boleto em aberto</strong></div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive" name="table_client">
                <thead>
                    <tr>
                        <th><div class="th">
                            Nome
                            <span class="fa fa-angle-up"
                                    data-ng-click=" order('name') "
                                    data-ng-class="{active: row == 'name'}"></span>
                            <span class="fa fa-angle-down"
                                    data-ng-click=" order('-name') "
                                    data-ng-class="{active: row == '-name'}"></span>
                        </div></th>
                        <th><div class="th">
                            Período
                            <span class="fa fa-angle-up"
                                    data-ng-click=" order('billingPeriod') "
                                    data-ng-class="{active: row == 'billingPeriod'}"></span>
                            <span class="fa fa-angle-down"
                                    data-ng-click=" order('-billingPeriod') "
                                    data-ng-class="{active: row == '-billingPeriod'}"></span>
                        </div></th>
                        <th><div class="th">
                            Tipo
                        </div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="client in clientsToReceive | filter: filterListPreview" 
                        bgcolor="{{ ( client.name.indexOf('MMS - ') > -1 || client.origin == 'MMS' ) ? '#F38E8E' : 
                        ( client.acessado_hoje ) ? '#90ee90' :
                        ( client.somente_reembolso ) ? '#E2E298' : '' }}" 
                        ng-click="setClient();">
                        <td>{{client.name}}</td>
                        <td>{{client.billingPeriod}}</td>
                        <td>{{client.tipo_cliente}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </section>
    </div>

    <div class="col-sm-6">
       <section class="panel panel-default" ng-show="tabindex == 0">
          <div class="panel-heading"><strong>Clientes com boleto em aberto</strong></div>
          <div class="panel-body">
            <table class="table table-bordered table-responsive" name="table_client">
              <thead>
                  <tr>
                      <th><div class="th">
                          Nome
                          <span class="fa fa-angle-up"
                                data-ng-click=" order('name') "
                                data-ng-class="{active: row == 'name'}"></span>
                          <span class="fa fa-angle-down"
                                data-ng-click=" order('-name') "
                                data-ng-class="{active: row == '-name'}"></span>
                      </div></th>
                      <th><div class="th">
                          Período
                          <span class="fa fa-angle-up"
                                data-ng-click=" order('billingPeriod') "
                                data-ng-class="{active: row == 'billingPeriod'}"></span>
                          <span class="fa fa-angle-down"
                                data-ng-click=" order('-billingPeriod') "
                                data-ng-class="{active: row == '-billingPeriod'}"></span>
                      </div></th>
                      <th><div class="th">
                          Primeiro Borderô
                          <span class="fa fa-angle-up"
                                data-ng-click=" order('min_emission') "
                                data-ng-class="{active: row == 'min_emission'}"></span>
                          <span class="fa fa-angle-down"
                                data-ng-click=" order('-min_emission') "
                                data-ng-class="{active: row == '-min_emission'}"></span>
                      </div></th>
                      <th><div class="th">
                          Ultimo Borderô
                          <span class="fa fa-angle-up"
                                data-ng-click=" order('max_emission') "
                                data-ng-class="{active: row == 'max_emission'}"></span>
                          <span class="fa fa-angle-down"
                                data-ng-click=" order('-max_emission') "
                                data-ng-class="{active: row == '-max_emission'}"></span>
                      </div></th>
                  </tr>
              </thead>
              <tbody>
                  <tr data-ng-repeat="client in clientsDeadLine" bgcolor="{{ ( client.name.indexOf('MMS - ') > -1 || client.origin == 'MMS' ) ? '#F38E8E' : '' }}" ng-click="setClient();">
                      <td>{{client.name}}</td>
                      <td>{{client.billingPeriod}}</td>
                      <td>{{fildDateNotBlack(client.min_emission) | date:'dd/MM/yyyy'}}</td>
                      <td>{{fildDateNotBlack(client.max_emission) | date:'dd/MM/yyyy'}}</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </section>
    </div>

    <div class="col-sm-6">
        <section class="panel panel-default" ng-show="tabindex == 0">
            <div class="panel-heading"><strong>Clientes a serem compilados</strong></div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive" name="table_client">
                    <thead>
                        <tr>
                            <th><div class="th">
                                Nome
                                <span class="fa fa-angle-up"
                                        data-ng-click=" order('name') "
                                        data-ng-class="{active: row == 'name'}"></span>
                                <span class="fa fa-angle-down"
                                        data-ng-click=" order('-name') "
                                        data-ng-class="{active: row == '-name'}"></span>
                            </div></th>
                            <th><div class="th">
                                Período
                                <span class="fa fa-angle-up"
                                        data-ng-click=" order('billingPeriod') "
                                        data-ng-class="{active: row == 'billingPeriod'}"></span>
                                <span class="fa fa-angle-down"
                                        data-ng-click=" order('-billingPeriod') "
                                        data-ng-class="{active: row == '-billingPeriod'}"></span>
                            </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="client in specialBillets" bgcolor="{{ ( client.name.indexOf('MMS - ') > -1 || client.origin == 'MMS' ) ? '#F38E8E' : '' }}" ng-click="setClient();">
                            <td>{{client.name}}</td>
                            <td>{{client.billingPeriod}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <section class="panel panel-default table-dynamic" ng-show="tabindex == 1">
        <div class="panel-heading"><strong></span> Selecione as Contas </strong>
          <div class="col-sm-2">
            <button type="button" class="btn btn-line-info smallBtn" style="width: 100%;" ng-click="markAll()">Marcar Todos</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-line-info smallBtn" style="width: 100%;" ng-click="markYesterday()">Marcar Vendas de Ontem</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-line-info smallBtn" style="width: 100%;" ng-click="unMarkAll()">Desmarcar Todos</button>
          </div>
        </div>
        <div class="table-filters">
            <div class="row">
                <form>
                  <div class="form-group">
                      <div class="col-sm-6">
                          <input type="text"
                                 placeholder="Pesquisar..."
                                 class="form-control"
                                 data-ng-model="searchKeywords"
                                 data-ng-keyup="search()">
                      </div>
                      <div class="col-sm-2" data-ng-controller="WBilletModalDemoCtrl">
                          <script type="text/ng-template" id="WBillet.html">
                              <div class="modal-header">
                                  <h3>Pesquisa Avaçada</h3>
                              </div>
                              <div class="modal-body">
                                  <form class="form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label for="" class="col-sm-12">Data Vencimento</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">De</label>
                                        <div class="col-sm-8">
                                            <div class="input-group ui-datepicker">
                                                <input type="date" 
                                                   id='saledueDateFrom'
                                                   ng-model="filter.dueDateFrom"
                                                   class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Até</label>
                                        <div class="col-sm-8">
                                            <div class="input-group ui-datepicker">
                                                <input type="date" 
                                                   id='saledueDateTo'
                                                   ng-model="filter.dueDateTo"
                                                   class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                  </form>
                              </div>
                              <div class="modal-footer">
                                  <button class="btn btn-primary" ng-click="ok()">OK</button>
                                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                              </div>
                          </script>
                          <button class="btn btn-default" ng-click="open()"><span class="glyphicon glyphicon-search"></span> Pesquisa Avançada</button>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-w-md btn-gap-v btn-line-primary" ng-click="printBills();"><span class="glyphicon glyphicon-print"></span>  Emitir</button>
                      </div>
                      <div class="col-md-2" ng-show="client.billingPeriod != 'Diario' && client.billingPeriod != ''">
                        <button class="btn btn-w-md btn-gap-v btn-line-primary" ng-click="findBillets();">Buscar Borderôs</button>
                      </div>
                  </div>
                </form>
            </div>
        </div>

        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                    </div></th>
                    <th><div class="th">
                        Id
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('id') "
                              data-ng-class="{active: row == 'id'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-id') "
                              data-ng-class="{active: row == '-id'}"></span>
                    </div></th>
                    <th><div class="th">
                        Venda
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('issuing_date') "
                              data-ng-class="{active: row == 'issuing_date'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-issuing_date') "
                              data-ng-class="{active: row == '-issuing_date'}"></span>
                    </div></th>
                    <th><div class="th">
                        Status
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('status') "
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-status') "
                              data-ng-class="{active: row == '-status'}"></span>
                    </div></th>
                    <th><div class="th">
                        Telefone
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('phoneNumber') "
                              data-ng-class="{active: row == 'phoneNumber'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-phoneNumber') "
                              data-ng-class="{active: row == '-phoneNumber'}"></span>
                    </div></th>
                    <th><div class="th">
                        Tipo de Conta
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('account_type') "
                              data-ng-class="{active: row == 'account_type'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-account_type') "
                              data-ng-class="{active: row == '-account_type'}"></span>
                    </div></th>
                    <th><div class="th">
                        Passageiro
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('pax_name') "
                              data-ng-class="{active: row == 'pax_name'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-pax_name') "
                              data-ng-class="{active: row == '-pax_name'}"></span>
                    </div></th>
                    <th><div class="th">
                        Localizador
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('flightLocator') "
                              data-ng-class="{active: row == 'flightLocator'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-flightLocator') "
                              data-ng-class="{active: row == '-flightLocator'}"></span>
                    </div></th>
                    <th><div class="th">
                        Valor
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('value') "
                              data-ng-class="{active: row == 'value'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-value') "
                              data-ng-class="{active: row == '-value'}"></span>
                    </div></th>
                    <th><div class="th">
                        Ja Pago
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('alreadBilled') "
                              data-ng-class="{active: row == 'alreadBilled'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-alreadBilled') "
                              data-ng-class="{active: row == '-alreadBilled'}"></span>
                    </div></th>
                    <th><div class="th">
                        Vencimento
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('due_date') "
                              data-ng-class="{active: row == 'due_date'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-due_date') "
                              data-ng-class="{active: row == '-due_date'}"></span>
                    </div></th>
                    <th ng-show="billetGenerated"><div class="th">
                        Bordero
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('billet') "
                              data-ng-class="{active: row == 'billet'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-billet') "
                              data-ng-class="{active: row == '-billet'}"></span>
                    </div></th>
                    <th><div class="th">
                        Alterar
                    </div></th>
                </tr>
            </thead>
            <tbody>

                <tr data-ng-repeat="billreceive in currentPageBillsReceive" bgcolor='{{findColor(billreceive);}}' >
                    <td><input ng-model="billreceive.checked" name="checkbillspay" type="checkbox" ng-click='addRow()' value="option1" ></td>
                    <td>{{billreceive.id}}</td>
                    <td>{{billreceive.issuing_date | date:'dd/MM/yyyy'}}</td>
                    <td><span class="{{billReceiveTag(billreceive.status)}}">{{getStatusDesc(billreceive.status)}}</span></td>
                    <td>{{billreceive.client}}</td>
                    <td><span class="{{getClass(billreceive)}}">{{billreceive.account_type}}</span></td>
                    <td>{{billreceive.pax_name}}</td>
                    <td>{{billreceive.flightLocator}}</td>
                    <td><div class="text-right">{{ formatNumber(billreceive.actual_value, 2) }}</div></td>
                    <td><div class="text-right">{{ formatNumber(billreceive.alreadBilled, 2) }}</div></td>
                    <td>
                        <!-- {{billreceive.due_date | date:'dd/MM/yyyy'}} -->
                        <div nf-if="billreceive.paymentDays > 0">
                            <font color='#F70909'>{{ getDate(billreceive.paymentDays) | date:'dd/MM/yyyy' }}</font>
                        </div>
                    </td>
                    <td ng-show="billetGenerated">{{billreceive.billet}}</td>
                    <td><div data-ng-controller="BillsreceiveChangeCtrl">
                        <script type="text/ng-template" id="BillsreceiveChangeCtrl.html">
                          <div class="modal-header">
                            <h3>Alterar Valor</h3>
                          </div>
                          <div class="modal-body">
                            <form class="form-horizontal ng-pristine ng-valid">
                              <div class="form-group">
                                <label for="" class="col-sm-4">Valor</label>
                                  <div class="col-sm-8">
                                    <input type="number" class="form-control" ng-model="bill.actual_value" ng-readonly="!main.isMaster && checked">
                                  </div>
                              </div>
                              <br>
                              <div class="form-group">
                                <label for="" class="col-sm-4">PIN</label>
                                <div class="col-sm-4">
                                  <input type="password" class="form-control" ng-model="bill.pinCode">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-4">
                                  <button type="button" class="btn btn-primary" ng-click="check();">Confirmar</button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-warning" ng-click="cancel();">Cancelar</button>
                            <button type="button" class="btn btn-primary" ng-click="ok();">Salvar</button>
                            <button type="button" class="btn btn-danger" ng-click="remove();">Excluir</button>
                          </div>
                        </script>
                        <button type="button" class="btn btn-info smallBtn" ng-click="open()">Alterar Valor</button>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><div class="text-right">{{getSumBillsReceive()}}</div></td>
                  <td></td>
                  <td></td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-4 pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredBillsReceive.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></pagination>
                </div>
                <div class="col-md-4 text-right page-num-info">
                    <span>
                        Showing {{filteredBillsReceive.length}}/{{billsreceive.length}} entries
                    </span>              
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 text-right">
                        <button type="button" ng-click="priorWizardStage();" class="btn btn-line-info">anterior</button>
                        <button type="button" ng-click="getSumBills();" ng-show="client" class="btn btn-line-info">proximo</button>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <section class="panel panel-default" ng-show="tabindex == 2">
        <div class="panel-heading"><strong>Dados do Boleto - Ultimo numero: {{lastBillet.id}} - Gerados Hoje: {{lastBillet.todays}}</strong></div>
        <div class="panel-body">
            <div>
                <form class="form-horizontal ng-pristine ng-valid">
                    <div class="form-group" ng-hide="true">
                        <label for="" class="col-sm-2">Agência Cedente</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                        <label for="" class="col-sm-2">Código Cedente</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Número Documento</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="wbillet.doc_number" class="form-control">
                        </div>
                        <label for="" class="col-sm-2">Nosso Número</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="wbillet.our_number" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Descontos</label>
                        <div class="col-sm-4">
                            <input type="number" ng-model="wbillet.discount" class="form-control">
                        </div>
                        <!-- <label for="" class="col-sm-2">Acréscimos</label>
                        <div class="col-sm-4">
                            <input type="text" id="wbillettax" class="form-control">
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Cedente</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="wbillet.billingPartner" typeahead="client.name for client in clients | filter:$viewValue | limitTo:8">
                        </div>
                        <div class="col-sm-4">
                            <label class="switch">Transferencia Bancária
                            <input type="checkbox" ng-model="wbillet.transfer" ng-checked="wbillet.transfer"><i></i></label>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="(client.billingPeriod != 'Diario' && client.billingPeriod != '' && client.billingPeriod != null) && !billetGenerated">
                      <label for="" class="col-sm-2">Vencimento</label>
                      <div class="col-sm-4">
                          <input type="date" ng-model="wbillet.due_date" class="form-control">
                      </div>
                      <div class="col-sm-2">
                          Prazo: {{client.paymentDays}}<br>
                          Prazo 2: {{client.secondPaymentDays}}
                      </div>
                      <div class="col-sm-4">
                          <label class="switch">Pagamento Antecipado
                          <input type="checkbox" ng-model="wbillet.early" ng-checked="wbillet.early"><i></i></label>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2">Valor Título</label>
                        <div class="col-sm-4">
                            <input type="text" id="wbilletactual_value" ng-model="wbillet.actual_value" class="form-control">
                        </div>

                        <label for="" class="col-sm-2">Ja Pago</label>
                        <div class="col-sm-4">
                            <input type="number" ng-model="wbillet.alreadyPaid" class="form-control">
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                    <div class="form-group" ng-show="possibleCloseBillets">

                        <div class="col-sm-2" data-ng-controller="CloseBilletsWithCreditCtrl">
                            <script type="text/ng-template" id="CloseBilletsWithCreditModal.html">
                                <div class="modal-header">
                                    <h3>Selecionar Borderô</h3>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal ng-pristine ng-valid">
                                      <div class="form-group" ng-repeat="billet in selected" ng-click="setSelected(billet)">
                                          <label for="" class="col-sm-2">Borderô</label>
                                          <div class="col-sm-4">
                                              {{billet.ourNumber}}
                                          </div>
                                          <label for="" class="col-sm-2">Valor</label>
                                          <div class="col-sm-4">
                                              {{formatNumber(billet.actuanValue)}}
                                          </div>
                                      </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
                                </div>
                            </script>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" ng-click="openModalCloseBillets()" class="btn btn-line-primary smallBtn">Carregar Borderôs</button>
                        </div>
                        <div class="col-sm-2">
                            Borderô Selecionado
                        </div>
                        <div class="col-sm-2">
                            {{currentBillet.ourNumber}}
                        </div>
                        <div class="col-sm-2">
                            {{formatNumber(currentBillet.actuanValue)}}
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="" class="col-sm-2">Banco</label>
                            <span class="ui-select">
                                <select ng-model="wbillet.bank">
                                    <option class="form-control" ng-repeat="bank in banks" value="{{bank}}">{{bank}}</option>
                                </select>
                            </span>
                        </div>

                        <div class="col-sm-2">
                            <label class="switch">Possui Boleto
                            <input  type="checkbox" ng-model="wbillet.hasBillet" ng-checked="wbillet.hasBillet"><i></i></label>
                        </div>

                        <div class="col-sm-2" ng-show="wbillet.valueFloat < 0">
                            <label class="switch">Abater de Atrasados
                            <input  type="checkbox" ng-model="wbillet.removerFromDelayed" ng-checked="wbillet.removerFromDelayed"><i></i></label>
                        </div>

                        <div class="col-sm-4">
                            <label class="switch">Cancelamento de Bilhetes
                            <input type="checkbox" ng-model="wbillet.cancelBillets" ng-checked="wbillet.cancelBillets"><i></i></label>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>

                    <div class="form-group">
                      <textarea type="text" class="form-control" ng-model="wbillet.description"/>
                    </div>

                    <div class="form-group"></div>
                    <div class="form-group"></div>
                    <div ng-repeat="division in billetsDivision">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <input type="number" class="form-control" ng-model="division.actualValue">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="division.name">
                            </div>
                            <div class="col-sm-2">
                                <input type="date" class="form-control" ng-model="division.dueDate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">Divisões
                        <div class="col-sm-2">
                            <button type="button" ng-click="removeDivision()" class="btn btn-line-primary">-</button>
                            <button type="button" ng-click="addDivision()" class="btn btn-line-primary">+</button>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group"></div>
                    <div class="form-group" ng-hide="true">
                        <label for="" class="col-sm-2">Demonstrativo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                            <button type="button" ng-click="priorWizardStage();" ng-hide="tabindex == 0" class="btn btn-line-info">anterior</button>
                        <div class="col-sm-12 text-right">
                            <button ng-click="fillEmailContent();" ng-show="tabindex == 2" class="btn btn-line-info"><i></i>Gerar Bordero</a>
                            <button ng-click="saveBillet();" ng-show="tabindex == 2" class="btn btn-line-info"><i></i>Gerar Boleto</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="panel panel-default mail-container mail-compose" ng-show="tabindex == 3" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="panel-heading"><strong>Escrever Email</strong></div>
        <div class="panel-body">
          <form class="form-horizontal">
              <div class="form-group">
                  <label for="mail_to" class="col-xs-2">Para:</label>
                  <div class="col-xs-10">
                      <input type="text" ng-model="billet.emailpartner" id="mail_to" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label for="mail_cc" class="col-xs-2">CC:</label>
                  <div class="col-xs-10">
                      <input type="text" id="mail_cc" ng-model="billet.mailcc" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label for="mail_cc" class="col-xs-2">CCO:</label>
                  <div class="col-xs-10">
                      <input type="text" id="mail_cc" ng-model="billet.mailcco" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label for="mail_subject" class="col-xs-2">Assunto:</label>
                  <div class="col-xs-10">
                      <input type="text" id="mail_subject" ng-model="billet.subject" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-2">
                      <button type="button" class="btn btn-info smallBtn" ng-click="fillEmailContent();">Modelo 1</button><br><br>
                      <button type="button" class="btn btn-info smallBtn" ng-click="print(true);">Imprimir</button>
                  </div>
                  <div class="col-sm-2">
                      <button type="button" class="btn btn-info smallBtn" ng-click="printReportModel(true);">Imprimir Modelo Descritivo</button>
                  </div>
                  <div class="col-sm-2">
                      <button type="button" class="btn btn-info smallBtn" ng-click="fillEmailModel2();">Modelo 2</button><br><br>
                      <button type="button" class="btn btn-info smallBtn" ng-click="printModel2(true);">Imprimir</button>
                  </div>
                  <div class="col-sm-3">
                      Prazo: {{client.paymentDays}}<br>
                      Prazo 2: {{client.secondPaymentDays}}<br>
                      Multa: {{client.mulct}}<br>
                      Protestar após 5 dias de atraso.
                      <table class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Progresso</td>
                                <td>Ações</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload(); loadFiles();" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                    <label class="switch">Salvar email
                    <input type="checkbox" ng-model="saveEmail" ng-checked="saveEmail"><i></i></label>
                </div>
                <div class="col-sm-2" ng-show="saveEmail">
                    <input type="date" class="form-control" ng-model="billet.sendDate">
                </div>
                <div class="col-sm-2" ng-show="billet.sendDate">
                    <button ng-click="saveEmailBillet();" class="btn btn-info">Salvar email</button>
                </div>
              </div>
              <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
              <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                  Arraste e solte
              </div>
              <div text-angular ng-model="billet.emailContent" ng-class="ui-editor">
              </div>
          </form>
          <div class="mail-actions">
              <div class="text-left col-sm-6">
                  <a href="#/billsReceive/billet" class="btn btn-sm btn-default">Cancelar Emissão</a>
              </div>
              <div class="text-right col-sm-6" data-ng-controller="WBilletModalAttachmentCtrl" ng-hide="saveEmail">
                <script type="text/ng-template" id="atachmmentsAlert.html">
                    <div class="modal-header">
                        <h2>Atenção</h2>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal ng-pristine ng-valid">
                            Nenhum arquivo foi anexado, continuar assim mesmo?
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">Sim</button>
                        <button class="btn btn-warning" ng-click="cancel()">Voltar</button>
                    </div>
                </script>
                <button ng-click="open(uploader)" class="btn btn-sm btn-primary"><i></i>Enviar</button>
            </div>
          </div>
        </div>
    </section>
</div>
