<div class="page page-dashboard zoom" data-ng-controller="BalanceProvidersCtrl">

    <div class="row">
        <div class="col-lg-12 col-xsm-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                          <label for="" class="col-sm-4">Período (dias)</label>
                          <div class="col-sm-8">
                              <input type="number" class="form-control" data-ng-keyup="search()" ng-model="filter.days">
                          </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span>Fluxo Confirmações</span></strong></div>
                <div class="panel-body">
                    <div morris-line-merged-miles
                         data-data="mergedMiles"
                         data-type="line"
                         data-xkey="date"
                         data-ykeys='["PurchasesAzul", "PurchasesGol", "PurchasesTam"]'
                         data-labels='["Azul", "Gol", "Tam"]'
                         data-bar-colors='["#0000ff","#ff9933","#ff0000"]'
                         style="height: 300px;"
                         ></div>
                </div>
            </section> 
        </div>

        <div class="col-md-4">
            <section class="panel panel-default">
              <div class="panel-heading"><strong><span>Compras/Companhias(Compras)</span></strong></div>
              <div class="panel-body">
                <form class="form-horizontal" name="form_purchase">
                  <div class="form-group" ng-repeat="data in airlinesData">
                    <label>  {{data.label}}</label>
                  </div>
                </form>
              </div>
            </section>
        </div>

        <div class="col-md-4">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span>Compras/Companhias(Compras)</span></strong></div>
                <div class="panel-body">
                    <div data-flot-purchases-airline
                         data-data="PurchasesData"
                         data-options="options"
                         style="width: 100%; height: 300px;"
                         ></div>
                </div>
            </section> 
        </div>
    </div>
</div>
